//color
$primary-color-bg: #23282D;
$primary-color-btn: white;
$primary-color-line: #C9C9C9;
$color-btn-hover: #EAA64E;
$color-btn-active: rgb(235, 154, 48);


//modal window
$color-modal-window-bg:  rgba(28, 31, 33, 1);
$color-modal-window-lbl: rgba(117, 117, 117, 1);
$color-modal-window-inpt-bg: rgba(33, 37, 39, 1);
$color-modal-window-btn:  #13C9E2;
$color-modal-window-link:  rgba(73, 122, 250, 1);


//main page
$bg-main-page-content: #21262B;
$bg-name-and-dropdown: rgba(35, 39, 42, 1);


//font-size
$primary-font-size: 16px;


