.signUp-form{
  width: 28%;
  height: 495px;
  margin: 7% auto;
  padding: auto;
  text-align: center;
  background-color: #23272A;
  box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.SignUpButton{
  background: #E5AC55;
  width: 40%;
  margin-top: 30px;
  height: 45px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
}


.SignUpButton:hover{
  box-shadow: 0px 4px 4px white;
  transition: 0.4s;
}

.choose:hover{
  font-weight: bold;
  text-decoration: underline;
}

.form__role{
  margin-top: 15px;
  color: white;
  font-size: 15px;
}

 .role__user {
   margin-left: 10px;
  display: inline-block;
  width: 80px;
  height: 20px;
}

.role__admin{
  display: inline-block;
  width: 80px;
  height: 20px;
}

.activeCreate{
  background-color: #E5AC55;
  border-radius: 6px;
}

.admin__block{
  height: 585px;
}


#admin__block{
  display: none;
}

#UserNameInput_SignUp, #PasswordInput_SignUp, #ConfirmPasswordInput, #AdminNameInput_SignUp, #AdminPasswordInput_SignUp, #AdminConfirmPasswordInput, #AdminKey{
  color: white;
}