.signUp-form{
  width: 28%;
  height: 465px;
  margin: 7% auto;
  padding: auto;
  text-align: center;
  background-color: #23272A;
  box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}