@import 'variables';
@import 'modalWindow';
.container{
    display: flex;
    max-width: 100%;
    height: 90px;
    border-bottom: 1px solid #323232;
    box-shadow: 0 0 4px 0 #1a1a1a;
    &__name{
        width: 90%;
        height: 60px;
        margin: auto;
        align-items: center;
        display: flex;  
    }
}
.block{
    &__left{
        width: 15%;
        height: 60px;
        display: flex;
        &--logo{
            width: 60px;
            height: 60px;
            float: left;
        }
        &--name{
            margin: auto 0;
            padding-left: 7%;
        }
    }
    &__right {
        display: flex;
        margin-left: 75%;
        .container-dropdwn{
            &__dropdown {
            overflow: hidden;
            }
        }
    }
}
.dropbtn {
    font-size: 26px;
    font-weight: bolder;    
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: #1C1F21;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    z-index: 1; 
    margin-left: -5%;
}

.btn-modal{
    width: 100%;
    border-radius: 7px;
    padding: 5px 16px;
    text-align: center;
}
.btn-modal:hover{
    color: $color-btn-hover;
}
.btn-modal:active{
    color: $color-btn-active;
}

.topic{
    width: 35px;
    height: 35px;
    margin: auto 7px;
    }

.setting{
    width: 24px;
    height: 24px;
    margin: 14% 7px;
}
.signout{
    width: 24px;
    height: 24px;
    margin: auto 7px;
}

.show{
    display: block;
}


/*.show-animation-login{
    display: block;
    animation: showing 2s linear;
}*/





