@import 'variables';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: $primary-font-size;
    color: $primary-color-btn;
    user-select: none;
}
body{
    background: $primary-color-bg;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}
hr{
    border: none; 
    background-color: $primary-color-line; 
    height: 1px; 
}
