@import 'footer';
@import 'variables';
@import 'modalWindow';
@import 'tabs';
body{
    background-color: #393B3C;
}

input
{
    margin: 0;
    border: 0;
    border: none;
    width: 80%;
    height: 45px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #212527;
    border-radius: 7px;
    outline: none;
    color: white;
    font-size: 18px;
    padding-left: 14px;
    color: #23272A;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.main-block{
    width: 90%;
    margin: 15px auto;
    background-color: #717679;
    border-radius: 10px;
    padding: 30px;
    height: 1200px;
}

.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.search__input {
    border-radius: 7px;
    width: 25%;
    margin: 20px auto 50px;
}
.search input{
    background-color: #E1DFDF;
    border-radius: 7px;
    width: 100%;
    display: block;
}

.fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    z-index: 2;
}

.fg--search {
    background: white;
    position: relative;
    width: 25%;
}

.search i{
    color: #393B3C;
}

.folders{
    display: flex;
    flex-wrap: wrap;
}

.content-switch{
    margin: 10px;
    font-size: 20px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.content-switch:hover{
    text-decoration: underline;
}

.active{
    background-color: #C4C4C4;
    color: black;
    border-radius: 5px;
}

.active:hover{
    text-decoration: none;
}

.content2 , .content3{
    display: none;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    padding: 4px;
    font-weight: 100;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
th:first-child {
    border-top-left-radius:3px;
}
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
td {
    background:#757575;
    padding:20px;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

.table__name__item{
    background: #1C1F21;
    border-right: 1px solid #474747;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    background: #f6fbfc;
}

.table-name {
    background: #717679;
    text-align: center;
    height: 1300px;
}

.tableNames{
    margin: 20px auto;
    font-size: 30px;
    color: #E5AC55;
}

.content3{
    text-align: center;
}

.content2flex{
    display: flex;
    flex-wrap: wrap;
}

.clearAll{
    text-align: center;
}

.rightCont{
     background-color: #C9C9C9;
     width: 58%;
     height: 800px;
     margin: 20px;
 }
.leftCont{
    background-color: #C9C9C9;
    width: 35%;
    height: 800px;
    margin: 20px;
}

.rightCont__label{
     color: #212527;
     font-size: 20px;
 }

.rightCont__input{
    color: white;
}

.lui{
    margin: 30px 20px 0;
}

.dateRaw{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.createButton{
    text-align: right;
    padding: 10px 30px;
}

#createButton{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    background-color: #46CD7C;
}

#CreateTourPlayersChoose{
    text-align: center;
    margin: 20px 0;
    color: white;
    width: 300px;
    background-color: rgb(33, 37, 39);
    border-radius: 5px;
    height: 30px;
}

#CreateTourLevel{
    margin: 20px 0;
    color: white;
    width: 95px;
    background-color: rgb(33, 37, 39);
    border-radius: 5px;
    height: 30px;
}

#CreateTourScenario{
    margin: 20px 0;
    color: white;
    width: 250px;
    background-color: rgb(33, 37, 39);
    border-radius: 5px;
    height: 30px;
}

#CreateTourNumPlay{
    margin: 20px 0;
    color: white;
    width: 65px;
    background-color: rgb(33, 37, 39);
    border-radius: 5px;
    height: 30px;
}

#CreateTourName, #CreateTourDescription, #CreateTourPlace{
    margin: 10px 20px 0;
    color: white;
    width: 90%;
}

#CreateTourStartDate, #CreateTourEndDate{
    margin: 10px 20px 0;
    color: white;
    width: 150px;
}

#cupLabel, #ScenarioLabel{
    color: #212527;
    font-size: 18px;
    margin-left: 5px;
}

#radioButton, #radioButtonScenario{
    width: 15px;
    height: 15px;
}


#clearAll{
    padding: 7px;
    background-color: #D73131;
    border-radius: 4px;

}
.classModalBack{
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.modalClearAll{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalClearAll__sign{
    position: relative;
    background-color: #46474b;
    margin: 300px auto;
    padding: 0;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    height: 200px;
}

.buttons{
    background: #23272a;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
}

.krest{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.krest:hover{
    font-weight: bold;
}

#yesbutton, #nobutton{
    margin: 7px;
    color: #E5AC55;
    width: 100px;
    height: 40px;
    border: 1px solid #E5AC55;
    border-radius: 5px;
}

#yesbutton:hover, #nobutton:hover{
    background-color: #E5AC55 ;
    color: #393B3C;
}
#myBtn {
    background-color: #23272a;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 180px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #46474b;
    margin: 300px auto;
    padding: 0;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    height: 200px;

}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;

    color: white;
}

.modal-body {padding: 2px 16px;}

.inputBtn{
    background: #23272a;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
}
.btnConfirm{
    background: #E5AC55;
    color: black;
    display:flex;
    justify-content:center;
    margin:30px auto 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
}
.btnConfirm:hover{
    background-color: #E5AC55;
}
.loginModal{
    margin: 20px;
}
#inputLoginNew{
    color:white;
}